@model IEnumerable<ClothesASPCoreApp.Models.ImportProductDetails>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách thông tin nhập hàng</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;Nhập hàng mới</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.DateImport)
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                @Html.DisplayNameFor(m => m.AmountProduct)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.DateImport)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Products.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.AmountProduct)
                </td>
                <td></td>
            </tr>
        }
    </table>
</div>
