@model IEnumerable<ClothesASPCoreApp.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 style="text-align:center">Danh sách khách hàng </h2>
        </div>
    </div>
</div>
<br />
<div class="container">
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Address)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PhoneNumber)
            </th>
            <th>
                Khóa tài khoản
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(m => item.PhoneNumber)
                </td>
                <td>
                    @if (item.LockoutEnd != null && item.LockoutEnd > DateTime.Now)
                    {
                        <label>Đã bị khóa</label>
                    }
                </td>
                <td>
                    @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                    {
                        <a type="button" class="btn btn-primary" href="@Url.Action("Edit/" + item.Id).Replace("%2F","/")">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+item.Id).Replace("%2F","/")">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
</div>




