@model ClothesASPCoreApp.Models.ViewModel.HomeViewModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";

}

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        @foreach (var n in Model.News)
        {
            <div class="single-hero-items set-bg" data-setbg="@n.Image">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>@n.Title</span>
                            <p>
                                @n.Content
                            </p>
                            <a asp-area="Customer" asp-controller="Shopping" asp-action="Index" class="primary-btn">Bắt đầu mua sắm ngay</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Giảm <span>@n.Sale</span></h2>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Hero Section End -->
<!-- Sản phẩm mới về Section Begin-->
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="img/products/man-large.jpg">
                    <h2 style="background-color:red">Hàng mới về</h2>
                    <a href="#">Khám phá ngay</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="product-slider owl-carousel">
                    @foreach (var p in Model.Products)
                    {
                        if (p.SpecialTags.Name.Equals("HANGMOIVE"))
                        {
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="@p.Image" alt="">
                                    <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li> <!--Nút thêm vào giỏ hàng-->
                                        <li class="quick-view"><a asp-area="Customer" asp-controller="Shopping" asp-action="Details" asp-route-id=@p.Id>Xem chi tiết</a></li> <!--Nút xem chi tiết sản phẩm-->
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">@p.Brands.Name</div>
                                    <a href="#">
                                        <h5>@p.Name</h5>
                                    </a>
                                    <div class="product-price">
                                        @p.Price VNĐ
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--Hàng mới về Section End -->
<!-- Sản phẩn bán chạy Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <div class="product-slider owl-carousel">
                    @foreach (var p in Model.Products)
                    {
                        if (p.SpecialTags.Name.Equals("BANCHAYNHAT"))
                        {
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="@p.Image" alt="">
                                    <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li> <!--Nút thêm vào giỏ hàng-->
                                        <li class="quick-view"><a asp-area="Customer" asp-controller="Shopping" asp-action="Details" asp-route-id=@p.Id>Xem chi tiết</a></li> <!--Nút xem chi tiết sản phẩm-->
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">@p.Brands.Name</div>
                                    <a href="#">
                                        <h5>@p.Name</h5>
                                    </a>
                                    <div class="product-price">
                                        @p.Price VNĐ
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="img/products/Best-large.jpg">
                    <h2 style="background-color:orange"> Hàng bán chạy </h2>
                    <a href="#">Khám phá ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sản phẩn bán chạy Section End -->
<!-- Sản phẩm đang giảm Section Begin-->
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="img/products/Sale-large.jpg">
                    <h2 style="background-color:red">Giảm giá</h2>
                    <a href="#">Khám phá ngay</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="product-slider owl-carousel">
                    @foreach (var p in Model.Products)
                    {
                        if (p.SpecialTags.Name.Equals("DANGGIAMGIA"))
                        {
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="@p.Image" alt="">
                                    <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li> <!--Nút thêm vào giỏ hàng-->
                                        <li class="quick-view"><a asp-area="Customer" asp-controller="Shopping" asp-action="Details" asp-route-id=@p.Id>Xem chi tiết</a></li> <!--Nút xem chi tiết sản phẩm-->
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">@p.Brands.Name</div>
                                    <a href="#">
                                        <h5>@p.Name</h5>
                                    </a>
                                    <div class="product-price">
                                        @p.Price VNĐ
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sản phẩm đang giảm Section End -->
<!-- Banner Section Begin - đưa loại sản phẩm lên đây-->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="~/img/banner-1.jpg" alt="">
                    <div class="inner-text">
                        <h4>Áo</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="~/img/banner-2.jpg" alt="">
                    <div class="inner-text">
                        <h4>Quần</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="~/img/banner-3.jpg" alt="">
                    <div class="inner-text">
                        <h4>Đồ âu</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->