@model ClothesASPCoreApp.Models.ViewModel.StatisticalViewModel
@{
    ViewData["Title"] = "Index";
}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Tổng quan</h1>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">
                                <h3>@Model.Products_Count</h3>
                                <p>Products</p>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Products" asp-action="Index">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">
                                <h3>@Model.Vendors_Count</h3>
                                <p>Brands</p>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Vendors" asp-action="Index">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">
                                <h3>@Model.Brands_Count</h3>
                                <p>Brands</p>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Brands" asp-action="Index">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">
                                <h3>@Model.Orders_Count</h3>
                                <p>Brands</p>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" asp-area="Admin" asp-controller="Orders" asp-action="Index">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>



<script>
  $(function () {
    "use strict";
    //DONUT CHART
    var donut = new Morris.Donut({
      element: 'sales-chart',
      resize: true,
      colors: ["#3c8dbc", "#f56954", "#00a65a"],
      data: [
        {label: "Registered Customer", value: @Model.Customers_Count},
        {label: "Delivered Order", value: @Model.Orders_Count},
        {label: "Vendor", value: @Model.Vendors_Count},
        {label: "Brands", value: @Model.Brands_Count},
        {label: "WareHouse", value: @Model.Products_Count}
      ],
      hideHover: 'auto'
    });
  });
</script>

