@model ClothesASPCoreApp.Models.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "Index";
}
@using ClothesASPCoreApp.Data;
@using ClothesASPCoreApp.Models.ViewModel;
@inject ApplicationDbContext _db

@{
    double TotalBill = 0;
    List<NumberOfProduct> ls;
}
<form method="post">
    <br /><br />
    @if (Model.Products.Count > 0)
    {
        <!-- Shopping Cart Section Begin -->
        <section class="shopping-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cart-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Hình ảnh</th>
                                        <th class="p-name">Tên sản phẩm</th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng đặt</th>
                                        <th><i class="ti-close"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Products.Count; i++)
                                    {
                                        <tr>
                                            <td class="cart-pic first-row"><img src="@Model.Products[i].Image" alt=""></td>
                                            <td class="cart-title first-row">
                                                <h5>@Model.Products[i].Name</h5>
                                            </td>
                                            <td class="p-price first-row">@Model.Products[i].Price VNĐ</td>
                                            <td class="qua-col first-row">
                                                <div class="quantity">
                                                    @{
                                                        int maxQuantity = _db.Products.Where(p => p.Id == Model.Products[i].Id).Where(p => p.isPublic).Select(p => p.Quantity).FirstOrDefault();
                                                        int defaulValue = 1, minQuantity = 1;
                                                        <div class="pro-qty">
                                                            <input asp-for="@Model.OrderDetails[i].OrderQuantity" type="text" value="@defaulValue" min="@minQuantity" max="@maxQuantity">
                                                        </div>
                                                        <span asp-validation-for="@Model.OrderDetails[i].OrderQuantity" class="text-danger"></span>
                                                        TotalBill += Model.Products[i].Price * defaulValue;
                                                    }
                                                </div>
                                            </td>
                                            <td class="close-td first-row"><button type="submit" class="ti-close" asp-action="remove" asp-route-id="@Model.Products[i].Id"></button></td>
                                        </tr>
                                     }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-4 offset-lg-4">
                                <div class="proceed-checkout">
                                    <ul>
                                        <li class="cart-total">Tổng đơn hàng: <span>@TotalBill VNĐ</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shopping Cart Section End -->

        <!-- Shopping Cart Section Begin -->
        <section class="checkout-section spad">
            <div class="container">
                <div class="checkout-form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="place-order">
                                <h4>Thông tin người mua</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label for="name">Tên người nhận<span>*</span></label>
                                        <input asp-for="@Model.Orders.OrderName" type="text" id="name">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="email">Email</label>
                                        <input asp-for="@Model.Orders.OrderEmail" type="text" id="email">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="phone">SĐT người nhận<span>*</span></label>
                                        <input asp-for="@Model.Orders.OrderPhone" type="text" id="phone">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="street">Địa chỉ nhận hàng<span>*</span></label>
                                        <input asp-for="@Model.Orders.ShipAddress" type="text" id="street">
                                    </div>
                                    <div class="order-btn">
                                        <button type="submit" id="btnPlaceOrder" class="site-btn place-btn">Đặt hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shopping Cart Section End -->

    }
    else
    {
        <div>Không có sản phẩm nào trong giỏ hàng...</div>
    }
</form>


@section Scripts{
    <script>
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '10',
            maxTime: '3:00pm',
            startTime: '10:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });

        $(function () {
            $("#datepicker").datepicker({
                minDate: +0, maxDate: "+3M"
            });
        });</script>
}

