@model List<ClothesASPCoreApp.Models.OrderDetails>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.Count > 0)
{
    <table class="table table-striped" width="100%">
        <tr class="table-info">
            <th style="text-align:center; width:20%"></th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().Products.Name"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().OrderQuantity"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().Products.Price"></label>
            </th>
            <th style="text-align:center;">
                <label>Total</label>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            double total = item.OrderQuantity * item.Products.Price;
            <tr style="padding:50px;">
                <td>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.ProductId">
                        <img src="@item.Products.Image" width="100%" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9;" />
                    </a>
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => item.Products.Name)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => item.OrderQuantity)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => item.Products.Price) đ
                </td>
                <th style="text-align:center;">
                    @String.Format("{0}", total) đ
                </th>
            </tr>
        }

    </table>
}
else
{
    <div>No items added to the shopping cart...</div>
}
