@model ClothesASPCoreApp.Models.Orders


<section class="checkout-section spad">
    <div class="container">
        <div class="checkout-form">
            <div class="row">
                <div class="col-lg-12">
                    <div class="place-order">
                        <h4>Thông tin người mua</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="name">Tên người nhận</label>
                                <input asp-for="@Model.OrderName" readonly type="text" id="name">
                            </div>
                            <div class="col-lg-12">
                                <label for="email">Email</label>
                                <input asp-for="@Model.OrderEmail" readonly type="text" id="email">
                            </div>
                            <div class="col-lg-12">
                                <label for="phone">SĐT người nhận</label>
                                <input asp-for="@Model.OrderPhone" readonly type="text" id="phone">
                            </div>
                            <div class="col-lg-12">
                                <label for="street">Địa chỉ nhận hàng</label>
                                <input asp-for="@Model.ShipAddress" readonly type="text" id="street">
                            </div>
                            <div class="col-lg-12">
                                <label for="street">Tổng đơn hàng</label>
                                <input asp-for="@Model.TotalBill" readonly type="text" id="street">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

