@model ClothesASPCoreApp.Models.Orders

<h4 class="text-success">Order Details</h4>

<div style="height:150px; background-color:aliceblue" class="container border">
    <div class="col-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-2">
                Tên người đặt
            </div>
            <div class="col-3">
                <input asp-for="@Model.OrderName" readonly class="form-control" />
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
                Email nhận hàng
            </div>
            <div class="col-3">
                <input asp-for="@Model.OrderEmail" readonly class="form-control" />
            </div>

        </div>
    </div>
    <div class="col-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-2">
                SĐT nhận hàng
            </div>
            <div class="col-3">
                <input asp-for="@Model.OrderPhone" readonly class="form-control" />
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
                Ngày đặt hàng
            </div>
            <div class="col-3">
                <input asp-for="@Model.OrderDate" readonly class="form-control" />
            </div>

        </div>
    </div>
    <div class="col-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-2">
                Địa chỉ nhận hàng
            </div>
            <div class="col-3">
                <input asp-for="@Model.ShipAddress" readonly class="form-control" />
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
                Total Bill
            </div>
            <div class="col-3">
                <input asp-for="@Model.TotalBill" readonly class="form-control" />
            </div>
        </div>
    </div>
</div>
